NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key-here

NODE_ENV=development
SUPABASE_SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# CLOUDINARY
# Base URL for serving images: https://res.cloudinary.com/YOUR_CLOUD_NAME/
CLOUDINARY_URL_PREFIX=https://res.cloudinary.com/your-cloud-name
# API credentials: cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_URL=cloudinary://123456789012345:abcdefghijklmnopqrstuvwxyz123456@your-cloud-name 

# AWS (For facial recognition using Rekognition)
AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_REGION=
COLLECTION_ID=