NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key-here

NODE_ENV=development
SUPABASE_SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# CLOUDINARY
CLOUDINARY_URL_PREFIX=your_cloudinary_url_prefix # prefix for image links
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME # for cloudinary API 
