@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  @apply block rounded-md p-1.5 w-full sm:text-sm focus:outline-2 outline-blue-400;
}

input[type="submit"] {
  @apply border-2;
}

label {
  @apply text-sm font-semibold md:text-base;
}
